<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controllers.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestController</servlet-name>
        <servlet-class>controllers.TestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguageController</servlet-name>
        <servlet-class>controllers.LanguageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageController</servlet-name>
        <servlet-class>controllers.ManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>controllers.CourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controllers.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxController</servlet-name>
        <servlet-class>controllers.AjaxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageController</servlet-name>
        <servlet-class>controllers.PageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/index/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageController</servlet-name>
        <url-pattern>/page/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestController</servlet-name>
        <url-pattern>/test/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/course/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxController</servlet-name>
        <url-pattern>/ajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LanguageController</servlet-name>
        <url-pattern>/language/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageController</servlet-name>
        <url-pattern>/manage/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/category/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
